.App {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: linear-gradient(#C2F0FF, #FFFFFF);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    margin-left: 10%;
    margin-right: 10%;
}
.header > h1 {
    color: #166d88;
    font-size: 2.6rem;
}

.header > button {
    color: #166d88;
    padding: 10px 18px;
    font-weight: bold;
    font-size: 15px;
    border: 0;
    background-color: #d0dce6;
    border-radius: 7px;
    display: flex;
    align-items: center;
    pointer: cursor;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.header > button:active {
    color: #166e99;
    box-shadow: none;
}

.header > buQeKhrpQo6kuHZZUebvFxV1OD2bJMExLwyT2f6TflsBEtton > img {
    height: 20px;
}
.cards-scroll {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.cards-scroll > button {
    font-size: 1.5rem;
    border: none;
    padding: 0.8rem 0.9rem;
    margin: 2rem 0.7rem;
    background-color: #dfe9f0;
    border-radius: 10px;
}
.cards-scroll > button:active {
    background-color: #d0dce6;
}
.cards-scroll > button > img {
    width: 2rem;
}
.color-filter {
    filter: invert(33%) sepia(79%) saturate(502%) hue-rotate(147deg)
        brightness(90%) contrast(89%);
}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@media (max-width: 720px) {
    .header {
        margin-left: 0;
        margin-right: 0;
    }
    .header > h1 {
        font-size: 1rem;
    }
    .header > button {
        font-size: 1rem;
        padding: 5px 9px;
    }
    .cards-scroll > button {
        font-size: 1rem;
    }
}